<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="nav">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/myProfile">My Profile</a>
                <a href="/users/"> All Users</a>
                <a href="/logout">Log Out</a>
                <a href="/feed">Feed</a>
            </li>
        </ul>
    </nav>
</div>

<h1>This is [[${loggedInUser.firstName}]]'s detail page, you are visiting them [[${principalTheAndroid}]]</h1>

<h2>My Profile</h2>


<h3>Create a profile</h3>

<div th:each="currentUser : ${allUsers}">
    <p>[[${currentUser.username}]] [[${currentUser.firstName}]]</p>
</div>


<ul>
    <li th:each="post : ${loggedInUser.posts}" th:style="'background-color:' + ${post.color}">
        <label>Created At:</label>
        <p th:text="${post.createdAt}"></p>
        <p th:text="${post.body}">Message: </p>
    </li>
</ul>
<form action="/myProfile" method="post">

    <input type="hidden" th:value="${userIdWeAreVisiting}" name="id">
    Color <input type="color" name="color"><br>
    Body <input type="text" name="body">
    <input type="submit">
</form>

<img src="/images/bingo.jpg" alt="Dog">


</body>
</html>