<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="nav">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/logout">Log Out</a>
                <a href="/users/">All Users</a>
                <a href="/feed">Feed</a>
            </li>
        </ul>
    </nav>
</div>

    <h1>This is [[${userWeAreVisiting.username}]]'s detail page, you are visiting them [[${loggedInUser.username}]]</h1>

    <h2>Create a profile</h2>
        <ul>
            <li th:each="post : ${userWeAreVisiting.posts}" th:style="'background-color:' + ${post.color} + '30'">
                <p th:text="${post.createdAt}"></p>
                <p th:text="${post.body}">Message: </p>
            </li>
        </ul>

    <form method="POST" th:action="'/follow/' + ${userWeAreVisiting.id}">
        <button>Follow</button>
    </form>

    <img src="/images/bingo.jpg" alt="Dog">

</body>
</html>